html, body {
	font-family: Helvetica, Arial, Serif;
	font-size: 16px;
	background-color: #E6E6E6;
	color: #333;
}

h1 {
	font-weight: 200v;
	font-size: 32px;
	color: #666;
	text-align: center;
}

h2 {

	font-weight: bold;
	color: #333;
	font-size: 18px;

}
a {

	color:#0099e5;
	text-decoration: none;

}

.mypage {
	width: 800px;
	margin: 20px auto;
	padding: 10px 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	background-color: #CFD0D1;

}

.image1 {
	 float: left;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.image2 {

	width: 50px;	
	height: 50px;
	border-radius: 100px;
	margin-left: 100px;
	margin-right: 20px;
	text-align: center;

	
}

header h1 {
	line-height: 110px;


}

article {


	padding: 25px;

}



